@import "theme-relearn-light.css";

:root {
  --CODE-theme: neon; /* name of the chroma stylesheet file */
  --CODE-BLOCK-color: rgba( 226, 228, 229, 1 ); /* fallback color for code text */
  --CODE-BLOCK-BG-color: rgba( 40, 42, 54, 1 ); /* fallback color for code background */
}
